* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    transition: 1s;
}
  
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 136px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 956px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .header-delivery {
    display: flex;
    align-items: center;
  }
  
  .sign {
    line-height: 19px;
    font-weight: 300;
    margin: 0 9px;
    color: #626262;
  }
  
  .when {
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
  }
  
  .when > input {
    width: 65px;
    height: 100%;
    font-size: 16px;
    text-align: center;
  }
  
  .place {
    width: 292px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
  }
  
  .place > input {
    height: 100%;
    font-size: 16px;
    width: 100%;
    padding: 0 16px 0 36px;
    color: #1d1d1d;
    border: none;
  }
  
  .place > img {
    position: absolute;
    left: 12px;
  }
  
  .header-btns {
    display: flex;
    align-items: center;
  }
  .header-btns > button {
    width: 80px;
    height: 40px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 2px;
  }
  
  .header-btns .signIn {
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #1d1d1d;
  }
  
  .header-btns .register {
    background: #262626;
    color: #fff;
    margin: 0 16px;
  }
  
  .header-btns > img {
    position: relative;
  }
  
  .search-block {
    position: absolute;
    max-width: 956px;
    top: 104px;
  }
  
  .search-field {
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(117, 117, 117, .3);
    border-radius: 2px;
  }
  
  .search-field > input {
    line-height: 24px;
    font-size: 16px;
    width: 100%;
    color: #1d1d1d;
    border: none;
  }
  
  .search-field > img {
    margin-right: 8px;
  }
  
  .main {
    max-width: 956px;
    margin: 0 auto;
  }
  
  .main-title {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 16px;
    color: #1d1d1d;
  }
  
  .main-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .main-block-card {
    height: 366px;
  }
  
  .main-block-img {
    margin-bottom: 16px;
    position: relative;
    bottom: 0;
  }
  
  .main-block-img:hover {
    bottom: 10px;
    transition: .6s linear;
  }
  
  .main-block-place {
    line-height: 24px;
  }
  
  .main-block-price {
    font-size: 14px;
    line-height: 21px;
    margin: 4px 0;
    color: #626262;
  }
  
  .main-block-time {
    font-size: 13px;
    line-height: 21px;
    color: #1d1d1d;
  }
  
  .footer {
    background: #262626;
  }
  
  .footer-logo {
    max-width: 956px;
    padding: 56px 0 40px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(117, 117, 117, .4);
    margin-bottom: 32px;
  }
  
  .footer-navigation {
    max-width: 956px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgba(117, 117, 117, .4);
  }
  
  .footer-navigation > div {
    width: 33%;
    display: flex;
    flex-flow: column;
  }
  
  .footer-navigation > div > a {
    color: #fff;
    line-height: 36px;
  }
  
  .footer-navigation > div > a:hover {
    color: #ccc;
  }
  
  .footer-navigation-social .language-box {
    width: 227px;
    height: 40px;
    background: #3b3b3b;
    border-radius: 2px;
  }
  
  .language-box {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .language-box > img {
    position: absolute;
    left: 16px;
  }
  
  .footer-navigation-social .language {
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding-left: 48px;
    background: #3b3b3b;
    color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }
  
  .language-box::after {
    content: url(./images/down-arrow.png);
    position: absolute;
    right: 8px;
  }
  
  .uber-hash > a {
    color: #fff;
    text-decoration: none;
    margin: 33px 0 17px;
    display: block;
  }
  
  .uber-hash span {
    color: #49A144;
  }
  
  .link {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  
  .link:hover {
    opacity: .4;
  }
  
  .facebook {
    background: url(./images/facebook.png) 50% no-repeat;
  }
  
  .twitter {
    background: url(./images/twitter.png) 50% no-repeat;
    margin: 0 4px;
  }
  
  .instagram {
    background: url(./images/instagram.png) 50% no-repeat;
  }
  
  .footer-apps {
    max-width: 956px;
    margin: 0 auto;
    height: 120px;
    border-bottom: 1px solid rgba(117, 117, 117, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-apps a:first-child {
    margin: 0 40px 0 0;
  }
  
  .footer-copyright {
    display: flex;
    max-width: 956px;
    height: 93px;
    align-items: center;
    margin: 0 auto;
  }
  
  .footer-copyright * {
    width: 33%;
    color: #fff;
    font-size: 11px;
  }
  
  .topButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 16px;
    bottom: 24px;
    opacity: 0;
    background: #59bd5a;
    border-radius: 2px;
  }
  
  .topButton > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fixed {
    opacity: 1;
  }
  
  @media screen and (max-width: 1024px) {
    .place {
      width: 215px;
    }
    .header-logo {
      width: 105px;
    }
    .when > input {
      width: 57px;
    }
    .search-block {
      padding: 0 8px;
    }
    .header-btns .register {
      margin: 0 8px;
    }
    .main {
      padding: 0 8px;
    }
    .footer {
      padding: 0 8px;
    }
    .footer-navigation-social .language-box {
      width: 176px;
    }
   .footer-navigation > div > a {
     font-size: 13px;
   }
  }
  
  @media screen and (max-width: 640px) {
    .header {
      margin-bottom: 176px;
    }
    .header-delivery {
      position: absolute;
      top: 176px;
    }
    .main-block {
      justify-content: center;
    }
    .footer {
      margin: 10px 0 0;
    }
    .footer-navigation {
      flex-flow: column;
      height: 420px;
      justify-content: start;
    }
    .footer-copyright {
      height: 167px;
      justify-content: space-evenly;
      flex-flow: column;
      align-items: start;
    }
  }
